<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <h1>Register</h1>
    <form method="POST" action="/users/register">
        <label for="">Nombre</label>
        <input type="text" name="nombre">
        </br>
        <label for="">Edad</label>
        <input type="text" name="edad">
        </br>
        <label for="">Email</label>
        <input type="email" name="email">
        </br>
        <input type="submit" value="Registrar">
    </form>
    <%- include('partials/footer.ejs') %>;
</body>
</html>