<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles 2.css">
</head>

<body>
    <!-- MENU DEL HEADER -->
    <header class="main-header">
        <div class="header-logo">
            <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">
        </div>
        <div class="busqueda">
            Lugar para poner barra de búsqueda
            <i class="fas fa-search "></i>
        </div>
        
        <br/>

        <div class="compra-cuotas">
            <i class="fas fa-hand-holding-usd compras-logo"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </div>

        <br/>

        <!-- MENU DEL NAVEGADOR IZQUIERDO -->
        <nav class="navbar-menu">
            <ul class="left-navbar">
                <li><a href="#"> Ofertas</a></li>
                <li><a href="#"> Tiendas Oficiales</a></li>
                <li><a href="#"> Vender</a></li>
                <li><a href="#"> Ayuda</a></li>
            </ul>
            
            <!-- MENU DEL NAVEGADOR DERECHO -->
            <ul class="right-navbar">
                <li><a href="#"> Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="#"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>


    </header>
    
    <section>
        <div><img src="/images/img-home-banner.jpg" alt="img-home-banner" class="banner"></div>
    </section>


    <main>
        <!-- MENU SECCION ULTIMA VISITA -->
        <section class="menu-section">
            <h2 class="titulo-section"> Basado en tu última visita</h2>
                <article class="titulo-article">
                    <div>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img">
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </article>
            
                <article class="titulo-article">
                    <div>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="img">
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </article>
            
                <article class="titulo-article">
                    <div>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="img">
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </article>
            
                <article class="titulo-article">
                    <div>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" class="img">
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </article>
        </section>

        <!-- MENU SECCION OFERTAS -->
        <section class="menu-section">
            <h2 class="titulo-section"> Ofertas</h2>
                <article class="titulo-article">
                    <div>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img">
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </article>
            
                <article class="titulo-article">
                    <div>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="img">
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </article>
            
                <article class="titulo-article">
                    <div>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="img">
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </article>
            
                <article class="titulo-article">
                    <div>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" class="img">
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </article>
        </section>

    </main>

 <!-- MENU SECCION ULTIMA VISITA -->
    <footer class="menu-footer">
        <section class="section-footer">
            <i class="fas fa-credit-card icono-footer"></i>
            <h4 class="titulo-item-footer"> Pagá con tarjeta o en efectivo</h4> 
            <p class="descripcion-item-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
              
        </section>
        <br/>
        <section class="section-footer">
            <i class="fas fa-gift icono-footer" ></i>
            <h4 class="titulo-item-footer"> Envío gratis desde $ 2.500</h4>
            <p class="descripcion-item-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
              
        </section>

        <br/>
        <section class="section-footer">
            <i class="fas fa-user-shield icono-footer" ></i>
            <h4 class="titulo-item-footer"> Seguridad, de principio a fin</h4>
            <p class="descripcion-item-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            
        </section>
        <br/>
        <section class="section-footer">
            <h4 class="titulo-item-footer"> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>

    </body>

</html>