<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="imagen-logo-mercado-liebre">
        <p>Lugar para poner barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="Ofertas"> Ofertas</a></li>
                <li><a href="Tiendas Oficiales"> Tiendas Oficiales</a></li>
                <li><a href="Vender"> Vender</a></li>
                <li><a href="Ayuda"> Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="Creá tu cuenta"> Creá tu cuenta</a></li>
                <li><a href="Ingresá"> Ingresá</a></li>
                <li><a href="Mis Compras"> Mis Compras</a></li>
            </ul>
        </nav>
        <img src="/images/img-home-banner.jpg" alt="home-banner">
    </header>

    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
            <br/>
            
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <p>$230.000</p>
                <p>20% off</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <br/>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% off</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <br/>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <p>$23.200</p>
                <p>5% off</p>
                <p><strong>SmartTv Samsung 43"</strong> </p>
            </article>
            <br/>

        </section>

        <section>
            <h3>Sección de Ofertas</h3>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
            <br/>
            
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <p>$230.000</p>
                <p>20% off</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <br/>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% off</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <br/>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <p>$23.200</p>
                <p>5% off</p>
                <p><strong>SmartTv Samsung 43"</strong> </p>
            </article>
            <br/>
        </section>
    </main>

    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>

    </footer>
</body>
</html>