<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mi primer documento en HTML</title> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <img src="/images/han-solo.jpg" alt="imagen han-solo" class="logo"> 
        <i class="fab amazon fa-amazon"></i>

        <div class="contenedor01">
        <h2>Soy el contenedor01</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quidem ratione cupiditate, 
            dolorum a magni sequi iure expedita
             numquam totam ducimus ad ipsa qui, magnam illo vitae libero nam eligendi.</p>
    </div>

    <div class="contenedor02">
        <h2>Soy el contenedor02</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quidem ratione cupiditate, 
            dolorum a magni sequi iure expedita
             numquam totam ducimus ad ipsa qui, magnam illo vitae libero nam eligendi.</p>
    </div>

</body>
</html>