<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mi primer documento en HTML</title> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- <h4>Soy un h4</h4> 

    <h1>El título de nuestro documento</h1>

    <h2>Un subtítulo cualquiera</h2>

    <img src="/images/leia.jpg" alt="">

    <strong>Otro texto en negrilla</strong>

    <p>Lorem ipsum dolor <strong>esto es un texto en negrilla</strong>, sit<em>soy un texto en cursiva</em> amet consectetur adipisicing elit. Unde temporibus possimus, esse dolorem, modi rerum porro consequatur, aut quo animi facere ipsa iste aperiam? Commodi incidunt minus beatae pariatur dolore?</p>
    
    <p class ="parrafo-destacado">Lorem <em>soy un texto en cursiva</em> dolor sit, amet consectetur adipisicing elit. Ipsum tenetur qui veritatis, repudiandae maiores cum deleniti iure totam quia? Rerum facere accusantium libero, nostrum maxime quaerat. Quibusdam optio enim corporis.</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://www.google.com"> Ir Google</a>
    

    <article class="contenedor01">
        <p>Texto del contenedor 1</p>
    </article>
    
    <article class="contenedor02">
        <p>Texto del contenedor 2</p>
    </article>



    <p class="oculto">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis quasi nulla earum fugiat, voluptatibus velit. Facere error debitis necessitatibus voluptatem nobis excepturi, maiores odio reiciendis. Sit sapiente tempore quis aliquam?
    </p>
    
    <article class="contenedor01">
        <h2>Lorem ipsum dolor sit </h2>
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias similique dolorem dignissimos nesciunt officia rerum quia provident illum tempore animi rem ab repudiandae, veniam aperiam iure magnam voluptatibus. Inventore, quis.</p>
      
    </article>
    
   

    <article class="contenedor03">
        <p>Martin está probando texto</p>
        <p>Mientras tanto en otro lugar</p>
        
    </article>

     -->
    <div class="contenedor01">
        <h2>Soy el contenedor01</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quidem ratione cupiditate, 
            dolorum a magni sequi iure expedita
             numquam totam ducimus ad ipsa qui, magnam illo vitae libero nam eligendi.</p>
    </div>

    <div class="contenedor02">
        <h2>Soy el contenedor02</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quidem ratione cupiditate, 
            dolorum a magni sequi iure expedita
             numquam totam ducimus ad ipsa qui, magnam illo vitae libero nam eligendi.</p>
    </div>

</body>
</html>