<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h4>Soy un h4</h4>

    <h1>El título de nuestro documento</h1>

    <h2>Un subtítulo cualquiera</h2>

    <img src="/images/leia.jpg" alt="">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde temporibus possimus, esse dolorem, modi rerum porro consequatur, aut quo animi facere ipsa iste aperiam? Commodi incidunt minus beatae pariatur dolore?</p>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum tenetur qui veritatis, repudiandae maiores cum deleniti iure totam quia? Rerum facere accusantium libero, nostrum maxime quaerat. Quibusdam optio enim corporis.</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://www.google.com"> Ir Google</a>

</body>
</html>