<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/styles.css" type="text/css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 

        <script src="https://kit.fontawesome.com/449719d5ec.js" crossorigin="anonymous"></script>

        <title>Mercado Liebre</title>

    </head>

    <body>

        <header class="main-header">

            <div class="main-header-top-bar">

                <div class="logo-search">

                    <img src="images/logo-mercado-liebre.svg" alt="logo" title="Mercado Liebre" class="logo">

                    <div class="search-bar">

                        <form action="busqueda.html" method="post" class="searching"> 
                         
                            <input class="search" type="text" name="Search" placeholder="Busqueda" required> 
                            <input type="submit" value="Ir"> 
                        
                        </form> 

                    </div> 
               
                </div> 

                <h2 class="compra-en-cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tajetas de credito</h2>

            </div>

            <div class="hamburguer-bar">

                <i class="fas fa-bars"></i>

            </div>

            <nav class="main-nav-bar">

                <ul class="left-nav-bar">

                    <li> <a href="">Ofertas</a></li>
                    <li> <a href="">Tiendas Oficiales</a></li>
                    <li> <a href="">Vender</a></li>
                    <li> <a href="">Ayuda</a></li>  

                </ul>

                <ul class="right-nav-bar">

                    <li> <a href="/register">Crea tu cuenta<i class="fas fa-id-card"></i></a></li>
                    <li> <a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                    <li> <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>

                </ul> 

            </nav>

        </header>
        
        <div class="banner">
            
            <img src="images/img-home-banner.jpg" alt="banner">

        </div>
        
        <main class="main-content">
        
            <h3 class="text-last-view"> Basado en tu última visita</h3>
        
            <section class="last-view">

                <article class="product"> 

                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" title="cafetera-moulinex" width="200" class="img-producto" >
                    
                    <div class="info-product">

                        <i class=" truck fas fa-truck"></i>

                        <div class="precio-descuento">

                            <p class="precio">$6.770</p> 
                            <p class="descuento">40% off</p>

                        </div>

                        <h4 class="description">Cafetera Moulinex</h4> 

                    </div>

                </article>

                <article class="product" >
                    <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" title="macbook-pro" width="200" class="img-producto">
                    <div class="info-product">
                        <i class="truck fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>

                </article>

                <article class="product">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Galaxy" title="Samsung Galaxy" width="200" class="img-producto" >
                    <div class="info-product">
                        <i class="truck fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>

                </article>
                <article class="product">
                    <img src="images/img-tv-samsung-smart.jpg" alt="Smart" title="SmartTv" width="200" class="img-producto">
                    <div class="info-product">
                        <i class="truck fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p> 
                        </div>
                        <h4 class="description"> Samsung 43</h4>
                    </div>
                </article>

            </section>
            
            <h3 class="text-ofertas" >Ofertas</h4>

            <section class="ofertas">

            
                <article class="product">  
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" title="cafetera-moulinex" width="200" class="img-producto">
                    <div class="info-product">
                        
                        <i class="truck fas fa-truck"></i>

                        <div class="precio-descuento" >
                            <p class="precio" >$6.770</p> 
                            <p class="descuento">40% off</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div> 
                </article>
                <article class="product">
                    <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" title="macbook-pro" width="200" class="img-producto" >
                    <div class="info-product">
                        <i class="truck fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="product">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Galaxy" title="Samsung Galaxy" width="200" class="img-producto" >
                    <div class="info-product">
                        <i class="truck fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S</h4>
                    </div>
                </article>
                <article class="product">
                    <img src="images/img-tv-samsung-smart.jpg" alt="Smart" title="SmartTv" width="200" class="img-producto" > 
                    <div class="info-product">
                        <i class="truck fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p> 
                        </div>
                        <h4 class="description"> Samsung 43"</h4>
                    </div>
                </article>
            
            </section>
        
        </main>
        
        <footer>

            <div class="footer-box">

            <section class="footer-sec">

                <span><i class="fas fa-credit-card"></i></span>
                <h3 class="info-footer">Pagá con tarjeta o en efectivo</h3>
                <p class="text-footer"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

            </section>
        
        </br>

            <section class="footer-sec">

                <span><i class="fas fa-gift"></i></span>
                <h3 class="info-footer">Envío gratis desde $ 2.500</h3>
                <p class="text-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        
            </section>

        </br>

            <section class="footer-sec">
                <span><i class="fas fa-user-shield"></i></span>
                <h3 class=indo-footer">Seguridad, de principio a fin</h3>
                <p class="text-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        
            </section>

        </div>

        

            <p class="copy"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </footer>

    </body>
    
</html>