<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mi sitio web</title>
</head>
<body>
    <h2>Estamos en el Index</h2>
    <img src="/images/javascript.png" width="200">
   
    <% for( let persona of listadoPersonas ) { %>
        <li>
            Hola, soy <%= persona.nombre + ' ' + persona.apellido %>. Naci en <%= persona.pais %>  
        </li>
    
    <% } %>

    <footer>
        <h2>Este es el footer</h2>
        <h4>No nos olvidemos</h4>
        <h4>de eso</h4>
        <h4>Este es el footer</h4>
    </footer>

</body>

</html>