<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Pruebas</title> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <header class="header-navbar">
      <!-- <div class="header-menu"> 
        <div class="border-tesla">
            <img src="/images/logo-tesla.png" alt="logo-tesla" class="logo-testa">
        </div>
      
        <div class="ayuda-option"> 
          <p class="ayuda">Ayuda</p>
        
        </div>

      </div>
-->

<p>hola</p>
  </header>

  <main class="main-navbar">
    <p>hola</p>

  </main>  

  <footer class="footer-navbar">

    <p>hola</p>
  </footer>


</html>