<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Pruebas</title> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
  <!-- 
    <form action="" method="">
          <div>
            <label>Nombre completo:</label>
            <input type="text" name="nombreUsuario">
          </div>

          <div>
            <label>Contraseña</label>
            <input type="password" name="passwordUsuario">
          </div>

          <div>
            <label>Correo electrónico</label>
            <input type="email" name="emailUsuario">
          </div>

          <button type="submit">Enviar</button>
    
        </form>


        <form action="/registro" method="POST">
          <input type="text" name="usuario">
          <input type="password" name="clave">
          <input type="email" name="email">
          <input type="tel" name="telefono">
          <input type="number" name="edad">
        </form>

     <div> 
          <label for="nombre">nombre</label>
          <input type="text" name="nombre" id="nombre">
      </div>

      <p>
        <label for="nombre">nombre</label>
        <input type="text" name="nombre" id="nombre">
      </p>
      
      <p>
        <label for="email">e-mail</label>
        <input type="email" name="email" id="email">
      </p>
      
      <p>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password">
      </p>

      <p>
        <input type="submit" value="ENVIAR">
      </p>




      <p>
        <label>Nombre:</label>
        <input type="text" name="nombre" required>
      </p>

      <p>
        <label>E-mail:</label>
        <input type="email" name="email" required>
      </p>

      <p>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
      </p>

      <p>
        <input type="submit" value="ENVIAR">
      </p>

      <label>
          <input type="radio">
            Acepto los términos

      </label>


      <label> <input type="radio">Quincenal</label>
      <label> <input type="radio">Mensual</label>
      <label> <input type="radio">Trimestral</label>
      
    </br>

      <label> 
        <input type="radio" name="tipoSuscripcion">Quincenal
      </label>

      <label> 
        <input type="radio" name="tipoSuscripcion">Mensual
      </label>


      <label> 
        <input type="radio" name="tipoSuscripcion">Trimestral
      </label>




    <div>
      <label> 
        <input type="checkbox" name="pasatiempos" value="tv">
        Ver tv
      </label>

      <label> 
        <input type="checkbox" name="pasatiempos" value="js">
        Aprender Javascript
      </label>


      <label> 
        <input type="checkbox" name="pasatiempos" value="html">
        Practicar html 
      </label> 

    </div>

      <input type="radio" name="medio" value="Efectivo">
      <input type="radio" name="medio" value="Débito" checked>


      <label for="terminos">Acepto los términos.</label>
      <input type="checkbox" name="terminos">
      
      <label for="newsletter">¡Quiero ese newsletter!</label>
      <input type="checkbox" name="newsletter">



      <form action="/contact" method="POST">

        <label for="comentario">Deje su Comentario:</label>
        
        <textarea name="comentario" id="comentario">Contenido</textarea>

    </form>


    <form action="/colors" method="GET">
      <label>Seleccione un color:</label>
      <select name="color">
          <option value="#ff0000">Rojo</option>
          <option value="#00ff00">Verde</option>
          <option value="#0000ff">Azul</option>
          <option value="#770077">Morado</option>
      </select>
  </form>


  <form action="" method="">
    <label for="usuario">Ingrese el usuario:</label>
    <input type="text" name="usuario">
    <button type="reset">Cancelar</button>
    <button type="submit">Enviar</button>
</form>



<form action="/login" method="POST">

  <p>
    <label>Nombre</label>
    <input type="text" name="nombre" required>
  </p>

 
  
  <p>
    <label>Email</label>
    <input type="email" name="email" required>
  </p>

  <p>
    <button type="submit">Enviar</button>
  </p>

  
</form>


<form action="/login" method="POST">

  <p>
    <label>Nombre</label>
    <input type="text" name="nombre" required>
  </p>


  
  <p>
    <label>Email</label>
    <input type="email" name="email" required>
  </p>

  <p>
    <button type="submit">Enviar</button>
  </p>
  
</form>


<form action="resultado.html" method="POST">
  <label> ¿Tenés mascota?
  <input type="radio" name="mascota" value="si"> Sí
  <input type="radio" name="mascota" value= "no" >  No
  <input type="submit" value="Enviar">
  </label>
</form>-->

<!-- Otra opción ejercicio --> 

<!-- 
<form action="resultado.html" method="POST">
  <label> ¿Tenés mascota?</label>
  <label><input type="radio" name="mascota" value="si"> Sí </label>
  <label><input type="radio" name="mascota" value= "no" >  No</label>
  <input type="submit" value="Enviar">

  </form>


  <form action="resultado.html" method="POST">
    <label>¿Cuáles son tus hobbies?</label>

    <label>
        <input type="checkbox" name="hobby" value="pescar">
        Pescar
    </label>

    <label>
        <input type="checkbox" name="hobby" value="correr">
        Correr
    </label>
    
        <label>
        <input type="checkbox" name="hobby" value="yoga">
        Yoga
    </label>
            <input type="submit" value="Enviar">
</form>


      <input type="date" name="fechaNacimiento" value="1985-08-28">
</body>

    <input type="file" name="imagenDePerfil">
    <input type="file" name="imagenDePerfil" multiple>
    <input type="file" name="imagenDePerfil" multiple accept=".jpg, .png">  


    <div>
      <label>Nombre completo:</label>
        <input type="text" name="nombreUsuario"> <span class="feedback"></span>
    </div>

    <input type="date" name="fecha" value="2021-07-22" min="2018-01-01" max="2022-12-31">

    <label>Seleccionar una imagen para el perfil:</label> <input type="file" name="avatar" accept=".jpg" multiple>

    <label>Elegí el mes de tu cumpleaños</label>
    
    <select name="mes">
      <option value="1">Enero</option>
      <option value="2">Febrero</option>
      <option value="3">Marzo</option>
      <option value="4">Abril</option>
      <option value="5">Mayo</option>
      <option value="6">Junio</option>
      <option value="7">Julio</option>
      <option value="8">Agosto</option>
      <option value="9">Septiembre</option>
      <option value="10">Octubre</option>
      <option value="11">Noviembre</option>
      <option value="12">Diciembre</option>

    </select>


      <form action="resultado.html" method="POST">
          <label>Dejanos tu comentario</label>
          <textarea ></textarea>
         
          <button type="submit">Enviar</button>
          <button type="reset"> Borrar</button>

      </form>-->

      <!-- FORMULARIO DE LOGIN -->

      <!-- Titulo del login-->

      <form action="/login.html" method="POST">
          <div class="title"> Ingresá tus datos para el login de tu cuenta</div>

      <!-- Campos a completar del nombre usuario, password, botones para ingresar, cancelar,  -->
      <!-- recordar usuario y olvido y link a generar usuario y/o contraseña -->
          <div class="field">
            <label for="user-name">Nombre de usuario:</label>
            <input type="text" name="user-name" id="user-name" required class="input">
          </div>

          <div class="field">
            <label for="user-password">Contraseña:</label>
            <input type="password" name="user-password" id="user-password" required class="input">
          </div>
          
          <button type="submit" class="login-button">Ingresar</button>

          <button type="reset" class="login-button">Cancelar</button>

          <div class="field">
            <label for="user-remember-password">Recordar mi usuario</label>
            <input type="checkbox" name="user-remember-password" value="user-remember-password">
          </div>
          
          
          <button type="submit" class="login-button">¿Olvidó su contraseña o usuario?</button>
          
          <button type="submit" class="login-button">Crear nueva contraseña o usuario</button>
          
          

        </form>

      <!-- FORMULARIO DE INGRESO 

      <form action="/registration.html" method="POST">
        <div class="registration-title"> Completá los datos para registrarte</div>

        <div class="registration-field">
          <label for="user-name">Nombre de usuario:</label>
          <input type="text" name="user-name" id="user-name" required class="registration-input">
        </div>

        <div class="registration-field">
          <label for="user-name">Nombre de usuario:</label>
          <input type="text" name="user-name" id="user-name" required class="registration-input">
        </div>
        
        <div class="registration-field">
          <label for="user-name">Nombre de usuario:</label>
          <input type="text" name="user-name" id="user-name" required class="registration-input">
        </div>



        <div class="login-field">
          <label for="user-password">Contraseña:</label>
          <input type="password" name="user-password" id="user-password" required class="input">
        </div>

        <div class="login-field">
          <label for="user-password">Contraseña:</label>
          <input type="password" name="user-password" id="user-password" required class="login-input">
        </div>
        
        <button type="submit" class="login-button">Ingresar</button>

        <div class="login-field">
          <label for="user-remember-password">Recordar mi usuario</label>
          <input type="checkbox" name="user-remember-password" value="user-remember-password">
        </div>
        
        
        <button type="submit" class="login-button">¿Olvidó su contraseña o usuario?</button>
        
        <button type="submit" class="login-button">Crear nueva contraseña o usuario</button>
        
        <button type="reset" class="login-button">Cancelar</button>
       

      </form>






     
      <div class="login-button">
        <label for="password-user">Nombre:</label>
        <input type="password" name="user-password" id="user-password" required class="field-input">
      </div>
      -->



</html>