<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
     rel="stylesheet" >
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles index product.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
   
    
   
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">

            <img src="/images/logo-mercado-liebre.svg" class="logo">   
            
            <div class="search-bar">

                    <form action="#" method="get" class="search-form">
                    
                        <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="form" >                
                        <button type="submit" class="button-form"><i class="fa fa-search"></i></button> 
                        
                    </form>

            </div>
            
            <h2 class="compra-cuotas-credito">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2> 
            
        </div>

        <a href="" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

        <!-- Esto es del menún de navegación -->
        <nav class="main-navbar">
        <!-- Lo voy a dividir en 2 listas -->
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
                  
         </ul>

        <ul class="right-navbar">
            <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                           
         </ul>

        </nav>

    </header>

    <main>
            <section class="last-visit">

                <h3>Basado en tu última visita</h3>

                <div class="products"></div>

                    <article class="container-product">
                    
                        <img src="/images/img-macbook-pro-2019.jpg"  class="product-img">
                    
                        <div class="container-product-details">

                            <i class="fas fa-truck"></i>
                            <p class="price">$ 200.000</p>
                            <p class="discount">10%</p>
                            <h4 class="description">Computadora mac 302</h4>
                            
                        </div>

                    </article>
                
                    <article class="container-product">
                    
                        <img src="/images/img-macbook-pro-2019.jpg"  class="product-img">
                    
                        <div class="container-product-details">

                            <i class="fas fa-truck"></i>
                            <p class="price">$ 200.000</p>
                            <p class="discount">10%</p>
                            <h4 class="description">Computadora mac 302</h4>
                            
                        </div>

                    </article>
                
                    <article class="container-product">
                    
                        <img src="/images/img-macbook-pro-2019.jpg"  class="product-img">
                    
                        <div class="container-product-details">

                            <i class="fas fa-truck"></i>
                            <p class="price">$ 200.000</p>
                            <p class="discount">10%</p>
                            <h4 class="description">Computadora mac 302</h4>
                            
                        </div>

                    </article>
                
                    <article class="container-product">
                    
                        <img src="/images/img-macbook-pro-2019.jpg"  class="product-img">
                    
                        <div class="container-product-details">

                            <i class="fas fa-truck"></i>
                            <p class="price">$ 200.000</p>
                            <p class="discount">10%</p>
                            <h4 class="description">Computadora mac 302</h4>
                            
                        </div>

                    </article>
                </div>
                    
            </section>


            <section class="offers">

                <h3>Ofertas</h3>

                <div class="products"></div>

                    <article class="container-product">
                    
                        <img src="/images/img-macbook-pro-2019.jpg"  class="product-img">
                    
                        <div class="container-product-details">

                            <i class="fas fa-truck"></i>
                            <p class="price">$ 200.000</p>
                            <p class="discount">10%</p>
                            <h4 class="description">Computadora mac 302</h4>
                            
                        </div>

                    </article>
                
                    <article class="container-product">
                    
                        <img src="/images/img-macbook-pro-2019.jpg"  class="product-img">
                    
                        <div class="container-product-details">

                            <i class="fas fa-truck"></i>
                            <p class="price">$ 200.000</p>
                            <p class="discount">10%</p>
                            <h4 class="description">Computadora mac 302</h4>
                            
                        </div>

                    </article>
                
                    <article class="container-product">
                    
                        <img src="/images/img-macbook-pro-2019.jpg"  class="product-img">
                    
                        <div class="container-product-details">

                            <i class="fas fa-truck"></i>
                            <p class="price">$ 200.000</p>
                            <p class="discount">10%</p>
                            <h4 class="description">Computadora mac 302</h4>
                            
                        </div>

                    </article>
                
                    <article class="container-product">
                    
                        <img src="/images/img-macbook-pro-2019.jpg"  class="product-img">
                    
                        <div class="container-product-details">

                            <i class="fas fa-truck"></i>
                            <p class="price">$ 200.000</p>
                            <p class="discount">10%</p>
                            <h4 class="description">Computadora mac 302</h4>
                            
                        </div>

                    </article>
                </div>
                    
            </section>

    </main>

    <footer>



    </footer>

</body>
</html>