<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
</head>
<body>
    
    <% if (productoActual == undefined) { %>

     <h1>El producto no está en el listado de productos</h1>

    <% } else { %>

        <div>
            <img src= "/images/<%=productoActual.foto %>" alt="">
        </div>
        <h1>Detalles del producto <%= productoActual.descripcion %> </h1>
    
        <h4>El precio del producto es $ <%=productoActual.precio  %> </h4>
        
        <h4>El descuento del producto es <%=productoActual.descuento  %>  %</h4>
           
    
    <% } %>
   

</body>
</html>